@use './common/config.scss' as *;
@use './common';

:-webkit-full-screen {
  background-color: white !important;
}
:-moz-full-screen {
  background-color: white !important;
}
:-ms-fullscreen {
  background-color: white !important;
}
:fullscreen {
  background-color: white !important;
}
.scroll {
  &--lock {
    overflow: hidden !important;
  }
  &__wrap {
    overflow: auto;
    height: 100%;
  }
}
.fullscreen {
  &.ql {
    &-toolbar,
    &-container {
      @include common.setCssVar(fullscreen-z-index, $fullscreenZIndex-normal);

      position: fixed;
      width: 100%;
      left: 0;
      background-color: common.getCssVar(editor-bg-color);
      z-index: common.getCssVar(fullscreen-z-index);
    }
    &-toolbar {
      @include common.setCssVar(fullscreen-container-z-index, $fullscreenZIndex-full);

      top: 0;
      z-index: common.getCssVar(fullscreen-container-z-index);
    }
    &-container {
      @include common.setCssVar(top, 0px);

      top: common.getCssVar(top);
      height: calc(100% - common.getCssVar(top));
    }
  }
}
